  <mat-toolbar color="blue" style="top: 0px; position: sticky; position: -webkit-sticky;">
    
    <div style="margin-left: 0.5%; margin-right: 0.5%;">
      <a href="#" routerLinkActive='active' routerLink='/home' mat-raised-button color="primary">Home</a>
     </div>

    <div style="margin-left: 0.5%; margin-right: 0.5%;">
        <a href="#" routerLinkActive='active' routerLink='/list' mat-raised-button color="primary">Doctors list</a>
    </div>
    <div style="margin-left: 0.5%; margin-right: 0.5%;">
        <a href="#" routerLinkActive='active' routerLink='/doctor' mat-raised-button color="primary">New Doctor</a>
    </div>
  </mat-toolbar>
<router-outlet></router-outlet>
